{% extends "list_view.html" %}

{% block title %}
Allocation List
{% endblock %}

{% block page_title%}Allocations{% endblock %}

{% block list_title %}Allocations: {{count}}{% endblock %}

{% block table_contents %}
<thead>
  <tr>
    <th scope="col" class="text-nowrap">
      ID
      <a href="?order_by=id&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort ID asc</span></a>
      <a href="?order_by=id&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort ID desc</span></a>
    </th>
    <th scope="col" class="text-nowrap">
      Project
      <a href="?order_by=project__title&direction=asc&{{filter_parameters}}"><i
          class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Project Title asc</span></a>
      <a href="?order_by=project__title&direction=des&{{filter_parameters}}"><i
          class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Project Title desc</span></a>
    </th>
    <th scope="col" class="text-nowrap">
      PI
      <a href="?order_by=project__pi__username&direction=asc&{{filter_parameters}}"><i
          class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort PI asc</span></a>
      <a href="?order_by=project__pi__username&direction=des&{{filter_parameters}}"><i
          class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort PI desc</span></a>
    </th>
    <th scope="col" class="text-nowrap">
      Resource Name
      <a href="?order_by=resources&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Resource Name asc</span></a>
      <a href="?order_by=resources&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Resource Name desc</span></a>
    </th>
    <th scope="col" class="text-nowrap">
      Status
      <a href="?order_by=status__name&direction=asc&{{filter_parameters}}"><i class="fas fa-sort-up" aria-hidden="true"></i><span class="sr-only">Sort Status asc</span></a>
      <a href="?order_by=status__name&direction=des&{{filter_parameters}}"><i class="fas fa-sort-down" aria-hidden="true"></i><span class="sr-only">Sort Status desc</span></a>
    </th>
    <th scope="col" class="text-nowrap">
      Size
    </th>
    <th scope="col" class="text-nowrap">
      Usage
    </th>
  </tr>
</thead>
<tbody>
  {% for allocation in item_list %}
    <tr>
      <td><a href="/allocation/{{allocation.id}}/">{{ allocation.id }}</a></td>
      <td class="text-nowrap"><a
          href="/project/{{allocation.project.id}}/">{{ allocation.project.title|truncatechars:50 }}</a></td>
      <td class="text-nowrap">{{allocation.project.pi.first_name}} {{allocation.project.pi.last_name}}
        ({{allocation.project.pi.username}})</td>
      <td class="text-nowrap">{{ allocation.get_parent_resource }}</td>
      <td class="text-nowrap">{{ allocation.status.name }}</td>
      <td class="text-nowrap">{{ allocation.size|floatformat:2 }}</td>
      <td class="text-nowrap">{{ allocation.usage|floatformat:2 }}</td>
    </tr>
  {% endfor %}
</tbody>
{% endblock %}

{% block activelink %}
$("#navbar-project-menu").addClass("active");
$("#navbar-allocation").addClass("active");
{% endblock %}
