{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Remove Users from Project {% endblock %}

{% block content %}
<h2>Remove users from project: {{project.title}}</h2>
<hr>

{% if formset or primary_group_users %}
  <div class="card border-light">
    <div class="card-body">
      <p>
        Project users have the ability to access storage allocations. Removing a user here
        will remove the user's access to your project's storage allocations, but will not
        remove that user's data from the allocations.
      </p>
      <p>
        {% if can_remove_primary_group_users %}
          <span class="text-danger font-weight-bold">Important:</span>
          <span class="font-weight-bold">
            Removing a user from their primary group starts the account deactivation process and
            will ultimately prevent access to FASRC computational resources.
          </span>
          There is a one-week grace period during which the user can be reactivated easily before
          FASRC user deactivation routines are completed. If you are unsure, please contact FASRC
          support or the ColdFront system administrator before proceeding.
        {% else %}
          You don't have the necessary permission to remove users who have this lab as their primary
          group. If you would like to remove a user that has your lab as their primary
          group, please <a href="mailto:{{ EMAIL_TICKET_SYSTEM_ADDRESS }}?subject=User removal request for Project {{ project.title }}">
          contact FASRC support</a>.
        {% endif %}
      </p>
      <form action="{% url 'project-remove-users' project.pk %}" method="post">
        {% csrf_token %}
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" class="check" id="selectAll">
                </th>
                <th scope="col">#</th>
                <th scope="col">Is Primary</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              {% for form in formset %}
                {% if form.primary_group.value %}
                  {% if can_remove_primary_group_users %}
                    <tr class="font-weight-bold">
                      <td>{{ form.selected }}</td>
                      <td>{{ forloop.counter }}</td>
                      <td><i class="fas fa-check" aria-hidden="true"></i></td>
                      <td>{{ form.username.value }}</td>
                      <td>{{ form.first_name.value }}</td>
                      <td>{{ form.last_name.value }}</td>
                      <td>{{ form.email.value }}</td>
                      <td>{{ form.role.value }}</td>
                    </tr>
                  {% else %}
                    <tr>
                      <td></td>
                      <td>{{ forloop.counter }}</td>
                      <td><i class="fas fa-check" aria-hidden="true"></i></td>
                      <td style="color: gray;">{{ form.username }}</td>
                      <td style="color: gray;">{{ form.first_name }}</td>
                      <td style="color: gray;">{{ form.last_name }}</td>
                      <td style="color: gray;">{{ form.email }}</td>
                      <td style="color: gray;">{{ form.role }}</td>
                    </tr>
                  {% endif %}
                {% else %}
                  <tr>
                    <td>{{ form.selected }}</td>
                    <td>{{ forloop.counter }}</td>
                    <td></td>
                    <td>{{ form.username.value }}</td>
                    <td>{{ form.first_name.value }}</td>
                    <td>{{ form.last_name.value }}</td>
                    <td>{{ form.email.value }}</td>
                    <td>{{ form.role.value }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {{ formset.management_form }}
        <div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-user-minus" aria-hidden="true"></i> Remove Selected Users From Project</button>
          <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project</a>
          <br>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <a class="btn btn-secondary mb-3" href="{% url 'project-detail' project.pk %}" role="button"><i class="fas fa-long-arrow-left" aria-hidden="true"></i> Back to Project</a>
  <div class="alert alert-info">
    No users to remove!
  </div>
{% endif %}

<script>
  $("#selectAll").click(function() {
    $("input[name^='userform-']").prop('checked', $(this).prop('checked'));
  });

  $("input[name^='userform-']").click(function(ele) {
    var id = $(this).attr('id');
    if (id != "selectAll") {
      $("#selectAll").prop('checked', false);
    }
  });
</script>
{% endblock %}
